body {
	font-family: "微软雅黑";
}
/*------------------------------------------------------------
				  header
-------------------------------------------------------------*/
#header {
	height: 60px;
}
#header h1 {
	font-size: 22px;
	font-weight: normal;
	text-shadow: none; /*控制标题没有阴影*/
}
#header form  {
	position: absolute;
	right: 13px;
	top:-13px;
}
/*---------------------------------------------------------
					mainContent
--------------------------------------------------------------*/
#mainContent ul li {
	position: relative;
}
#mainContent ul li a {
	padding-top: 17px;
}
#mainContent ul li a.floder {
	line-height: 48px;
}
.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
position: absolute;
left: 20px;
top: 20px;
max-height: 5em;
max-width: 5em;
} /*控制li左边img的位置*/
.ui-btn-icon-right:after {
	display: none; 
	right: 1em;
} /*控制背景图标位置*/
/*控制右边可点击的图标*/
.rightClick {
	position: absolute;
	right: 1em;
	top: 38%;
}
/*--------------------------------------------------------------
					footer
---------------------------------------------------------------*/
#footer {
	padding-top: 8px;
	border: none;/*取消border（我设置的默认有border）*/
	background: url(../../images/border_bottom.png) top repeat-x;
}
.ui-icon-home:after {
background-image: none; /*取消nav 的默认背景图片*/
}
.mulu:after {
	background-image: url(../../images/bottom_button1.png);
}
.fenlei:after {
	background-image: url(../../images/bottom_button2.png);
}
.chuanshuliebiao:after {
	background-image: url(../../images/bottom_button3.png);
}
.shezhi:after {
	background-image: url(../../images/bottom_button4.png);
}
/*------------------------------------------------------
				function(下载，删除等弹框)
----------------------------------------------------------*/
#function {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 65px;
	font-size: 12px;
	margin-top: 55px;
	border-top: 1px solid #55b8f1;
	background-color: #fff;
}
#function ul li {
	height: 65px;
	float: left;
	width: 20%;
	text-align: center;
}
#function ul li a{
	height: 65px;
	position: relative;
	padding-top: 40px;
	display: block;
	color: #b8b8b8;
}
#function ul li a img {
	position: absolute;
	top:5px;
	left: 34%;
}
#function ul li:active {
	background-color: #55b8f1;
}
/*------------------------------------------------------------
				注册
-------------------------------------------------------------*/
#header a.registered {
	position: absolute;
	top: 13px;
	left: 80%;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: none;
	color: #fff;
	border: 1px solid #3388cc;
}
#mainContent label.logIn_form_left {
	display: inline-block;
	width: 30%;
}
#mainContent input {
	line-height: 1em;
}
.ui-input-text input, .ui-input-search input {
	min-height: 1em;  /*改变jqueryMobile默认的最小高度度*/
}
.ui-input-btn input#submit {
	opacity: 1;
	font-size: 20px;
	text-indent: 0;
	color: #fff;
} /*改变submit的默认样式*/
input.login {
	background-color: rgb(115, 159, 224);
}
/*--------------------------------------------------------------
				移动和复制页面
----------------------------------------------------------------*/
p.noFolder {
	position: absolute;
	top: 50%;
	left: 13%;
	color:#aaa;
	font-size: 16px;
}
/*---------------------------------------------------------------
				重命名页面
---------------------------------------------------------------*/
h2#chongmingming {
	text-shadow: none;
	color: #333;
}

