

#mainContent ul li {
	
	
	height: 52px;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	padding-bottom:1px;
	margin-left:-4px;
	margin-right:-2px;
}
#mainContent ul  {
	margin:5px;
}
#wifi{
	margin-bottom: 0px;
	padding-top:7px; 
	padding-bottom: 8px;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	
}
