

#mainContent ul li {
	font-size:16px;
	height: 65px;
	border-bottom: 2px solid #f1f2f3;
	border-top: 2px solid #f1f2f3;
	border-left: 2px solid #f1f2f3;
	border-right: 2px solid #f1f2f3;
	margin:1px;
}
#mainContent ul  {
	margin:5px;
}
